////////////////////////////
///////// BOTONES //////////
////////////////////////////
.btn {
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	border-color: transparent;
	border-radius: 0;
	position: relative;
	p {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.btn-principal {
	margin-top: 25px;
	width: 255px;
	height: 115px;
	color: $negro;
	font-size: 22px;
	font-family: $font-bold;
	background-color: $gris-btn;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
		background-color: $background-click-btn-principal;
		box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
	}
	span {
		font-size: 20px;
	}
}

.btn-numerico {
	width: 73px;
	height: 59px;
	border-radius: 3px;
	color: $negro;
	font-size: 23px;
	font-family: $font-bold;
	background-color: $gris-btn;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
		background-color: $background-click-btn-principal;
		box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
	}
}

.btn-teclado-borrar {
	width: 169px;
	height: 59px;
	color: $negro;
	border-radius: 3px;
	background-color: $gris-btn;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
		background-color: $background-click-btn-teclado-borrar;
		box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
		color: $blanco;
    }

}

.btn-derecha {
	width: 196px;
	height: 90px;
	color: $negro-claro;
	font-size: 24px;
	font-family: $font-regular;
	background-color: $gris-btn;
	text-align: center;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
		background-color: $background-click-btn-principal;
		box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
	}
	&:nth-child(1), &:nth-child(2) {
		top: 40px;
	}
	&:nth-child(3) {
		top: 75px;
	}
	.centrado > & {
		top: 0;
	}
}

.btn-derecha-top {
	width: 196px;
	height: 90px;
	color: $negro-claro;
	font-size: 24px;
	font-family: $font-regular;
	background-color: $gris-btn;
	text-align: center;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
		background-color: $background-click-btn-teclado-borrar;
		box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
	}
	position: absolute;
	top: 40px;
}

.btn-derecha-center {
	width: 196px;
	height: 90px;
	color: $negro-claro;
	font-size: 24px;
	font-family: $font-regular;
	background-color: $gris-btn;
	text-align: center;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
		background-color: $background-click-btn-principal;
		box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
	}
	position: absolute;
	top: 134px;
}

.btn-derecha-bottom {
	width: 196px;
	height: 90px;
	color: $negro-claro;
	font-size: 24px;
	font-family: $font-regular;
	background-color: $gris-btn;
	text-align: center;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
		background-color: $background-click-btn-principal;
		box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
	}
	position: absolute;
	top: 333px;
	left: 0;
}

.btn-si-no {
	width: 196px;
	height: 90px;
	color: $negro-claro;
	font-size: 24px;
	font-family: $font-regular;
	background-color: $gris-btn;
	text-align: center;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
		background-color: $background-click-btn-principal;
		box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
	}
	margin: 30px;
	margin-top: 25px;
	top: 0;
	left: 0;
}

.btn-salir {
	width: 196px;
	height: 70px;
	color: $blanco;
	background-color: $negro;
	font-family: $font-bold;
	font-size: 24px;
	position: absolute;
	bottom: 25px;
	left: 50px;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
    &:active {
		background-color: $background-click-btn-salir;
		box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
		color: $blanco;
    }
}

.btn-footer {
	@extend .btn-salir;
	left: 540px;
	color: $negro-claro;
	background-color: $gris-btn;
	font-family: $font-regular;
	font-size: 23.5px;
	float: right;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
	color: $negro;
	background-color: $background-click-btn-principal;
	box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
	}
}

.btn-footer-right {
	@extend .btn-footer;
	left: 775px;
	font-family: $font-bold;
}

.btn-verde {
	background-color: $verde;
	color: $blanco;
	font-family: $font-bold;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
		background-color: $background-click-btn-verde;
		box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
	}
}

.deshabilitado {
	box-shadow: none;
	background-color: $gris-claro;
	color: $blanco;
	pointer-events: none;
	&:active {
		background-color: $gris-claro;
		box-shadow: none;
	}
}

.btn-alfanumerico {
	@extend .btn-numerico;
	width: 110px;
	height: 80px;
	margin: 10px 10px 20px 10px;
}
