/* Clases para las diferentes fuentes GUSTAN */
.font-regular {font-family: $font-regular;}
.font-light {font-family: $font-light;}
.font-medium {font-family: $font-medium;}
.font-bold {font-family: $font-bold;}

/* Textos */
h1 { font-size: 37px; font-weight: $font-weight;}
h2 { font-size: 32px; font-weight: $font-weight;}
h3 { font-size: 27px; font-weight: $font-weight;}
h4 { font-size: 25px; font-weight: $font-weight;}
h5 { font-size: 20px; font-weight: $font-weight;}
h6 { font-size: 16px; font-weight: $font-weight;}

.centrado { text-align: center;}

.interlineado { line-height: 1.5;}

.espaciado { letter-spacing: 0.8px;}

.smallest-font { font-size: 17px !important;}

.small-font { font-size: 15px;}

.big-font { font-size: 52px;}

h5.subtitulo {
	margin: 0;
	padding-top: 25px;
	font-family: $font-light;
	color: $negro-claro;
}

.titulo {
	font-family: $font-medium;
}

.titulo-bold {
	font-family: $font-bold;
}

a {
	text-decoration: none;
}

hr { width: 85%;}

.text-bottom {
	position: relative;
	bottom: 120px;
	span {
		position: relative;
		left: 60px;
	}
}

.menu-text {
	position: relative;
	bottom: 160px;
}

.stop-debit {
	position: absolute;
	bottom: 10px;
	left: 150px;
}
