@charset "utf-8";

// Tamaños de pantalla
$ancho_draw: 1024px;
$centro_draw: $ancho_draw / 2;
$alto_draw: 768px;

// Colores
$degrade_desde: #EFEFEE;
$degrade_hasta: #FFFFFF;

$blanco: #FFFFFF;
$negro: #333333;
$font-negro-claro: #50575C;
$verde: #28A537;
$gris: #6a6968;

$background-click-btn-principal: #F8F8F8;
$background-click-btn-salir: #020202;
$background-click-btn-teclado-borrar: #D8D8D8;
$background-click-btn-verde: #257F2D;

// Fuentes
$font-regular: "Roboto-Regular";
$font-light: "Roboto-Light";
$font-medium: "Roboto-Medium";
$font-bold: "Roboto-Bold";

$font-weight: 500;

@font-face {
 	font-family: "Roboto-Regular";
 	src: url("../fonts/roboto/Roboto-Regular.ttf");
}
@font-face {
	font-family: "Roboto-Light";
 	src: url("../fonts/roboto/Roboto-Light.ttf");
}
@font-face {
	font-family: "Roboto-Medium";
 	src: url("../fonts/roboto/Roboto-Medium.ttf");
}
@font-face {
	font-family: "Roboto-Bold";
 	src: url("../fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/awesome/fontawesome-webfont.eot');
	src: url('../fonts/awesome/fontawesome-webfont.eot') format('embedded-opentype'),
		url('../fonts/awesome/fontawesome-webfont.woff2') format('woff2'),
		url('../fonts/awesome/fontawesome-webfont.woff') format('woff'),
		url('../fonts/awesome/fontawesome-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/awesome/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-check:before {
  content: "\f00c";
}

@font-face {
  font-family: 'typicons';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/typicons/typicons.eot');
  src: url('../fonts/typicons/typicons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/typicons/typicons.woff') format('woff'),
       url('../fonts/typicons/typicons.ttf') format('truetype'),
       url('../fonts/typicons/typicons.svg#typicons') format('svg');
}
 
/* :before psuedo-selector inserts and styles icon */
.typcn:before {
  font-family: 'typicons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  font-size: 1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
 
.typcn-backspace:before { 
  content: '\e029'; /* '' */
} 

// Clases para las diferentes fuentes 
.font-regular {font-family: $font-regular;}
.font-light {font-family: $font-light;}
.font-medium {font-family: $font-medium;}
.font-bold {font-family: $font-bold;}

// Clases de Colores
.negro {color: $negro;}
.blanco {color: $blanco;}
.verde {color: $verde;}
.gris {color: $gris;}

// Textos
h1 { font-size: 36px; font-weight: $font-weight;}
h2 { font-size: 30px; font-weight: $font-weight;}
h3 { font-size: 24px; font-weight: $font-weight;}
h4 { font-size: 18px; font-weight: $font-weight;}
h5 { font-size: 14px; font-weight: $font-weight;}
h6 { font-size: 12px; font-weight: $font-weight;}

.centrado { text-align: center;}

.interlineado { line-height: 1.5;}

.big-font { font-size: 50px;}

h4.subtitulo {
	padding: 100px 0 0 50px;
}

// Definiciones de márgenes
$tabla_de_margenes:(
	0,
	5,
	10,
	15,
	20,
	25,
	30,
	40,
	50,
	70,
	75,
	100,
	125,
	130,
	150,
	175,
	200,
	);

@each $margen in $tabla_de_margenes {
	.mg-#{$margen} {margin: #{$margen}px;}
	.mg-l-#{$margen} {margin-left: #{$margen}px;}
	.mg-r-#{$margen} {margin-right: #{$margen}px;}
	.mg-t-#{$margen} {margin-top: #{$margen}px}
	.mg-b-#{$margen} {margin-bottom: #{$margen}px;}
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: $font-regular;
	position: relative;
	margin: 0 auto;
	width: $ancho_draw;
	height: $alto_draw;
	color: $negro;
}

header {
	position: absolute;
	width: 100%;
	height: 72px;
	background-color: $blanco;
	img {
	    position: absolute;
	    top: 11px;
	    margin: auto;
	    display: block;
	    height: 50px;
	    left: calc(50% - 80px);
	}
}

.fondo {
	background: -webkit-linear-gradient($degrade_desde, $degrade_hasta); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($degrade_desde, $degrade_hasta); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($degrade_desde, $degrade_hasta); /* For Firefox 3.6 to 15 */
    background: linear-gradient($degrade_desde, $degrade_hasta); /* Standard syntax (must be last) */
}

.container {
	height: 643px;
	padding-left: 0;
	padding-right: 0;
	@extend .fondo;
}

a { text-decoration: none;}

.invisible {
	visibility: hidden;
}

.btn {
	display: inline-block;
    white-space: nowrap;
    cursor: pointer;
	border-color: transparent;
	border-radius: 0;
	position: relative;
	p {
		margin: 0;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
}

.btn-principal {
	@extend .btn;
	width: 255px;
	height: 115px;
	color: $negro;
	font-size: 23px;
	font-family: $font-bold;
	background-color: $blanco;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
		background-color: $background-click-btn-principal;
		box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
	}
	&:nth-of-type(1) {
		left: 13px;
	}

	&:nth-of-type(2) {
		left: 0;
	}

	&:nth-of-type(3) {
		left: -13px;
	}
	span {
		font-size: 20px;
	}
}

.btn-salir {
	@extend .btn;
	width: 196px;
	height: 70px;
	color: $blanco;
	background-color: $negro;
	font-size: 22px;
	position: absolute;
    bottom: 25px;
    left: 50px;
    box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
    &:active {
    	background-color: $background-click-btn-salir;
    	box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
		color: $blanco;
    }
}

.teclado-numerico {
	position: absolute;
    top: 0;
    right: 120px
}

.input-teclado {
	position: relative;
	right: 5px;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 275px;
	border-bottom: 1.4px solid $font-negro-claro;
	input {
		border-width: 0;
	    border-style: none;
	    border-color: transparent;
	    border-image: none;
		background-color: transparent;
	    font-size: 20px;
	    position: relative;
	    right: 15px;
		color: $font-negro-claro;
		text-align: left;
		margin: 0 0 5px 0;
		&:focus {
			outline-offset: 0;
		    outline: none;
		    outline-color: none;
		    outline-style: none;
		    outline-width: 0;
		}
	}
}

.btn-numerico {
	@extend .btn;
	width: 73px;
	height: 59px;
	border-radius: 3px;
	color: $negro;
	font-size: 23px;
	font-family: $font-bold;
	background-color: $blanco;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
		background-color: $background-click-btn-principal;
		box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
	}
}

.fila1,
.fila2,
.fila3, {
	.btn-numerico {
		&:nth-of-type(1) {
			left: -15px;
		}
		&:nth-of-type(2) {
			left: -5px;
		}
		&:nth-of-type(3) {
			left: 5px;
		}
	}
}

.fila4, {
	.btn-numerico {
		&:nth-of-type(1) {
			left: -10px;
		}
		&:nth-of-type(2) {
			left: -5px;
		}
	}
}

.btn-teclado-borrar {
	@extend .btn;
	width: 169px;
	height: 59px;
	color: $negro;
	border-radius: 3px;
	background-color: $degrade_desde;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
    	background-color: $background-click-btn-teclado-borrar;
    	box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
		color: $blanco;
    }

}

.btn-derecha {
	@extend .btn;
	top: 130px;
	width: 196px;
	height: 90px;
	color: $font-negro-claro;
	font-size: 23px;
	font-family: $font-regular;
	background-color: $blanco;
	box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
		background-color: $background-click-btn-principal;
		box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
	}
}

.btn-si-no {
	@extend .btn-derecha;
	top: 0;
}

.btn-verde {
	@extend .btn-derecha;
	bottom: 5px;
	background-color: $verde;
	color: $blanco;
	font-family: $font-regular;
	text-transform: uppercase;
	&:active {
		background-color: $background-click-btn-verde;
		box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
	}
}

.col-right {
    width: 300px;
    height: 500px;
    position: absolute;
    right: 0;
    top: 150px;
    text-align: center;
    img {
    	position: relative;
		top: 80px;
    	right: 40px;
    }
}

.col-left {
	width: 725px;
	height: 400px;
	position: relative;
	left: 50px;
	img {
	    position: relative;
	    top: -10px;
	    left: -30px;
	    width: 330px;

	}
	span {
		color: $negro;
	    position: absolute;
	    left: 275px;
	}
	span.typcn {
		left: -20px;
    	top: -15px;
	}
}

.columnas {
	padding: 0 12px;
	width: 100%;
    height: 450px;
    display: flex;
	.col-1, .col-2, .col-3 {
		float: left;
		width: 31%;
		text-align: center;
		& .btn-principal:nth-of-type(1) {
			left: 0;
		}
		& .btn-principal:nth-of-type(2) {
			left: 0;
		}
		& .btn-principal:nth-of-type(3) {
			left: 0;
		}
	}
	.col-1 {
		margin-left: 30px;
	}
	.col-3 {
		margin-right: 30px;
	}
	.lista-cheques{
		text-align: left;
		h4:first-of-type {
			padding: 0;
		}
	}
}

.btn-footer {
	@extend .btn-salir;
	color: $font-negro-claro;
	background-color: $blanco;
	font-family: $font-light;
	font-size: 22px;
	float: right;
    box-shadow: 0px 3px 16px 0px rgba(28, 28, 27, 0.32);
	&:active {
	color: $negro;
	background-color: $background-click-btn-principal;
	box-shadow: 0px 2px 6px 0px rgba(28, 28, 27, 0.32);
	}
	&:nth-of-type(1) {
		left: 525px;
	}
	&:nth-of-type(2) {
		left: 775px;
		font-family: $font-medium;
	}
}

footer {
	position: relative;
	height: 125px;
}

.fa-check {
	color: $verde;
}

.typcn-backspace:before {
    position: relative;
    bottom: 3px;
    font-size: 2em;
    color: $gris;
}

// SPINNER 
$rojo-icbc: red;
$width: 150px;

body {
  background-color: transparent;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $rojo-icbc;
  }
  90% {
    stroke: $rojo-icbc;
  }
}